.my {
  background: #f6f4f9;
}
.my .header {
  height: 5.213333rem;
  width: 100%;
  color: #fff;
  line-height: 1.6rem;
  font-size: 0.453333rem;
  text-align: center;
  background: url("../img/header-bg.png");
  background-size: contain;
}
.my .header .btnicon {
  text-align: right;
}
.my .header .btnicon img {
  width: 0.493333rem;
  height: 0.52rem;
  margin-right: 0.693333rem;
}
.my .header .avator {
  text-align: left;
  float: left;
}
.my .header .avator img {
  float: left;
  width: 1.44rem;
  height: 1.44rem;
  margin-left: 0.426667rem;
  margin-right: 0.333333rem;
}
.my .header .avator .info {
  float: left;
  margin-top: -0.4rem;
}
.my .header .avator .info span {
  font-size: 0.426667rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #f6f4f9;
}
.my .header .avator .info .rank {
  text-align: center;
  display: inline-block;
  width: 1.706667rem;
  height: 0.506667rem;
  background: #e8c756;
  border-radius: 19px;
  font-size: 0.32rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #98337d;
  line-height: 0.506667rem;
}
.my .header .avator .info .tel {
  height: 0.293333rem;
  font-size: 0.373333rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #f6f4f9;
  line-height: 0.64rem;
  opacity: 0.6;
  margin-top: -0.4rem;
}
.my .main {
  box-sizing: border-box;
  padding: 0.44rem;
}
.my .main .asset {
  height: 2.4rem;
  background: #fff;
  border-radius: 0.16rem;
  padding-top: 0.666667rem;
  text-align: center;
  margin-top: -2rem;
}
.my .main .asset ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.my .main .asset ul li p {
  font-size: 0.48rem;
  font-family: DIN Alternate;
  font-weight: bold;
  color: #222222;
}
.my .main .asset ul li p span {
  font-size: 0.373333rem;
}
.my .main .asset ul li p:last-child {
  margin-top: 0.506667rem;
  font-size: 0.346667rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #999999;
}
.my .main .menu {
  box-sizing: border-box;
  padding: 0.44rem;
  width: 9.146667rem;
  height: 11.333333rem;
  background: white;
  border-radius: 0.16rem;
  margin-top: 0.4rem;
}
.my .main .menu ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.333333rem;
}
.my .main .menu ul li .menu-l {
  display: flex;
  justify-content: center;
  align-items: center;
}
.my .main .menu ul li .menu-l img {
  width: 0.4rem;
  height: 0.466667rem;
  margin-right: 0.4rem;
}
.my .main .menu ul li .menu-l span {
  font-size: 0.426667rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #222222;
}
.my .main .menu ul li .icon-r {
  width: 0.16rem;
  height: 0.28rem;
}
.my .footer {
  width: 100%;
  height: 1.6rem;
  background: linear-gradient(264deg, rgba(192, 59, 112, 0.97), rgba(74, 36, 152, 0.97));
}
.my .footer ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.my .footer li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.my .footer li img {
  width: 0.48rem;
  height: 0.48rem;
}
.my .footer li span {
  font-size: 0.266667rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: white;
  line-height: 0.64rem;
  opacity: 0.5;
}

/*# sourceMappingURL=my.css.map */
