.starIndex {
  width: 100%;
  height: 100vh;
  background: linear-gradient(251deg, rgba(192, 59, 112, 0.97), rgba(26, 26, 168, 0.97));
}
.starIndex .header {
  height: 5.866667rem;
  width: 100%;
  position: relative;
  background: url("../img/starIndexHeader.png") no-repeat center;
  background-size: contain;
}
.starIndex .header .tips {
  width: 7.646667rem;
  height: 0.746667rem;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-3.8rem);
  bottom: 0.573333rem;
  align-items: center;
  margin: 0 auto;
}
.starIndex .header .tips img {
  width: 0.373333rem;
  height: 0.373333rem;
  margin-left: 0.44rem;
  margin-right: 0.466667rem;
}
.starIndex .header .tips span {
  font-size: 0.346667rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: white;
}
.starIndex .main {
  box-sizing: border-box;
  padding: 0.266667rem;
  overflow: hidden;
}
.starIndex .main .item {
  float: left;
  width: 4.646667rem;
  height: 5.56rem;
  background: url("../img/itembg.png") no-repeat center;
  background-size: contain;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
.starIndex .main .item h2 {
  font-size: 0.613333rem;
  font-family: YouSheBiaoTiHei;
  font-weight: 400;
  color: white;
  margin-top: 0.44rem;
}
.starIndex .main .item .time {
  width: 2.946667rem;
  height: 0.613333rem;
  margin-top: 0.34rem;
  background: #74fbeb;
  border-radius: 23px;
  color: #3F1173;
  font-size: 0.373333rem;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  line-height: 0.613333rem;
  font-family: "microsoft yahei";
}
.starIndex .main .item .rate {
  width: 3.48rem;
  height: 0.613333rem;
  margin-top: 0.34rem;
  color: #fff;
  background: linear-gradient(-90deg, #5849b3 0%, #e74983 100%);
  border-radius: 23px;
  font-size: 0.373333rem;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  line-height: 0.613333rem;
  font-family: "microsoft yahei";
}
.starIndex .main .item span {
  font-size: 0.32rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: white;
  line-height: 0.64rem;
  opacity: 0.6;
  margin-top: 0.113333rem;
}
.starIndex .main .item .btn {
  width: 1.866667rem;
  height: 0.573333rem;
  font-size: 0.373333rem;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin-top: 0.186667rem;
  color: #fff;
  text-decoration: none;
  line-height: 0.573333rem;
  font-family: "microsoft yahei";
}
.starIndex .footer {
  width: 100%;
  height: 1.6rem;
  background: linear-gradient(264deg, rgba(192, 59, 112, 0.97), rgba(74, 36, 152, 0.97));
}
.starIndex .footer ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.starIndex .footer li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.starIndex .footer li img {
  width: 0.48rem;
  height: 0.48rem;
}
.starIndex .footer li span {
  font-size: 0.266667rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: white;
  line-height: 0.64rem;
  opacity: 0.5;
}

/*# sourceMappingURL=starIndex.css.map */
