.setcenter {
  box-sizing: border-box;
  padding: 0.44rem;
  padding-top: 0;

  .header {
    display: flex;
    height: 1.173333rem;
    justify-content: space-between;
    align-items: center;
    font-size: 0.426667rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: rgba(34, 34, 34, 1);
    border-bottom: 1px solid #eee;
  }

  .main {
    .switchbtn {
      display: flex;
      justify-content: center;
      border:.013333rem solid #666666;
      border-radius: .586667rem;
      height: 1.173333rem;
      margin-top: .373333rem;
      margin-bottom: .533333rem;
      span {
        display: inline-block;
        width: 4.573333rem;
        height: 1.173333rem;
        line-height: 1.173333rem;
        font-size: 0.426667rem;
        font-family: PingFang SC;
        text-align: center;
        font-weight: 500;
        color: rgba(34, 34, 34, 1);
        border-radius: 44px;
    }
      
      span:first-child {
        width: 4.586667rem;
        height: 1.186667rem;
        background: rgba(232, 199, 86, 1);
      }
    }

    li {
      border-bottom: 1px solid #eee;
      height: 1.706667rem;
      font-size: 0.426667rem;
      font-family: PingFang SC;
      font-weight: 500;
      color: rgba(34, 34, 34, 1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 1.893333rem;
      img{
          width: 1.066667rem;
          height: 1.066667rem;
          float: left;
          margin-right: .333333rem;
      }
      .rock{
          width: 90%;
          float: left;
          display: flex;
          justify-content: space-between;
          align-items: center;
          span{
            font-size:.373333rem;
            font-family:PingFang SC;
            font-weight:500;
          }
          i{
            font-style:italic;
            font-size:.426667rem;
font-family:PingFang SC;
color:rgba(242,198,46,1);
          }
      }
    }
  }
}
