.setcenter {
  box-sizing: border-box;
  padding: 0.44rem;
  padding-top: 0;
  .header {
    display: flex;
    height: 1.173333rem;
    justify-content: space-between;
    align-items: center;
    font-size: 0.426667rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: rgba(34, 34, 34, 1);
    border-bottom: 1px solid #eee;
  }
  .main {
    li {
      border-bottom: 1px solid #eee;
      height: 1.706667rem;
      font-size: 0.426667rem;
      font-family: PingFang SC;
      font-weight: 500;
      color: rgba(34, 34, 34, 1);
      display: flex;
      justify-content: space-between;
      line-height: 1.893333rem;
    }
    .btn {
      width: 9.146667rem;
      height: 1.306667rem;
      background: #e8c756;
      border-radius: 12px;
      margin: 0 auto;
      font-size: 0.426667rem;
      font-family: PingFang SC;
      font-weight: 500;
      color: rgba(34, 34, 34, 1);
      text-align: center;
      line-height: 1.306667rem;
      margin-top: 1.333333rem;
    }
  }
}
