.starIndex {
    width: 100%;
    height: 100vh;
    background: linear-gradient(251deg,
            rgba(192, 59, 112, 0.97),
            rgba(26, 26, 168, 0.97));

    .header {
        height: 5.866667rem;
        width: 100%;
        position: relative;
        background: url('../img/starIndexHeader.png') no-repeat center;
        background-size: contain;

        .tips {
            width: 7.646667rem;
            height: .746667rem;
            background: rgba(0, 0, 0, .1);
            border-radius: 28px;
            display: flex;
            position: absolute;
            left: 50%;
            transform: translateX(-3.8rem);
            bottom: .573333rem;
            align-items: center;
            margin: 0 auto;

            img {
                width: .373333rem;
                height: .373333rem;
                margin-left: .44rem;
                margin-right: .466667rem;
            }

            span {
                font-size: .346667rem;
                font-family: PingFang SC;
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
            }
        }
    }

    .main {
        box-sizing: border-box;
        padding: .266667rem;
        overflow: hidden;
        .item {
            float: left;
            width: 4.646667rem;
            height: 5.56rem;
            background: url('../img/itembg.png') no-repeat center;
            background-size: contain;
            display: flex;
            justify-items: center;
            align-items: center;
            flex-direction: column;

            h2 {
                font-size: .613333rem;
                font-family: YouSheBiaoTiHei;
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                margin-top: .44rem;
            }

            .time {
                width: 2.946667rem;
                height: .613333rem;
                margin-top: .34rem;
                background: rgba(116, 251, 235, 1);
                border-radius: 23px;
                color: #3F1173;
                font-size: .373333rem;
                font-style: italic;
                font-weight: bold;
                text-align: center;
                line-height: .613333rem;
                font-family: 'microsoft yahei';
            }

            .rate {
                width: 3.48rem;
                height: .613333rem;
                margin-top: .34rem;
                color: #fff;
                background: linear-gradient(-90deg, rgba(88, 73, 179, 1) 0%, rgba(231, 73, 131, 1) 100%);
                border-radius: 23px;
                font-size: .373333rem;
                font-style: italic;
                font-weight: bold;
                text-align: center;
                line-height: .613333rem;
                font-family: 'microsoft yahei';
            }

            span {
                font-size: .32rem;
                font-family: PingFang SC;
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                line-height: .64rem;
                opacity: 0.6;
                margin-top: .113333rem;
            }
            .btn{
                width: 1.866667rem;
                height: .573333rem;
                font-size: .373333rem;
                font-style: italic;
                font-weight: bold;
                text-align: center;
                margin-top: .186667rem;
                color:#fff;
                text-decoration: none;
                line-height: .573333rem;
                font-family: 'microsoft yahei';
            }
        }
    }
    .footer {
        width: 100%;
        height: 1.6rem;
        background: linear-gradient(
          264deg,
          rgba(192, 59, 112, 0.97),
          rgba(74, 36, 152, 0.97)
        );
        ul {
          height: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
    
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          img {
            width: 0.48rem;
            height: 0.48rem;
          }
          span {
            font-size: 0.266667rem;
            font-family: PingFang SC;
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            line-height: 0.64rem;
            opacity: 0.5;
          }
        }
      }
}